<%= form_for(@vote_track) do |f| %>
  <% if @vote_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_track.errors.count, "error") %> prohibited this vote_track from being saved:</h2>

      <ul>
      <% @vote_track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :track_id %><br>
    <%= f.number_field :track_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
