<h2>Track Liste - <%= @playlist.title%></h2>
<h3><%= @playlist.beschreibung%></h3>
<%= render partial: 'tracks/form' %>
<table>
  <tr>
    <td>Title</td>
    <td>votes</td>
    <td></td>
  </tr>
  <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.votes %></td>
        <td><%= link_to "voting", voting_path %></td>
      </tr>
  <% end %>
</table>
